<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
  <servlet>
    <servlet-name>InstituteLogin</servlet-name>
    <servlet-class>com.student.web.LoginInstituteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InstituteLogin</servlet-name>
    <url-pattern>/instituteLogin</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>InstituteRegister</servlet-name>
  	<servlet-class>com.student.web.RegisterInstitute</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>InstituteRegister</servlet-name>
  	<url-pattern>/instituteRegister</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>StudentList</servlet-name>
  	<servlet-class>com.student.web.StudentListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>StudentList</servlet-name>
  	<url-pattern>/studentList</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>AddStudent</servlet-name>
  	<servlet-class>com.student.web.AddStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AddStudent</servlet-name>
  	<url-pattern>/AddStudent</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<servlet-class>com.student.web.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/logoutInstitute</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>updateStudent</servlet-name>
  	<servlet-class>com.student.web.UpdateStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>updateStudent</servlet-name>
  	<url-pattern>/updateStudent</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>deleteStudent</servlet-name>
  	<servlet-class>com.student.web.DeleteStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>deleteStudent</servlet-name>
  	<url-pattern>/deleteStudent</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>registerInstitute.html</welcome-file>
    <welcome-file>addStudent.html</welcome-file>
  </welcome-file-list>
</web-app>